body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

header, footer {
    width: 100%;
    height: 200px;
    z-index: 2;
}

header img.fondo, footer img.fondo {
    width: 100%;
    height: 200px;
    position: absolute;
}

main {
    height: calc(100vh - 400px);
    background: #fff;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 200px;
  }

footer {
    animation: moveDown 1s ease-in-out forwards;
    animation: introFooter 0.3s forwards;
}

footer nav {
    position: absolute;
    bottom: 20px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

footer nav a {
    color: white;
    text-align: center;
    text-decoration: none;
}

nav.primary-nav {
    z-index: 2;
    margin: 0 auto;
    position: relative;
    width: 85%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 1.75rem;
    font-size: 0;
    border: 1px solid #DDDDDD;
}

nav.primary-nav a {
    /* margin-top: 10px; */
    /* line-height: 50px; */
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    width: calc((100% / 8));
    color: #666666;
}


nav.primary-nav a:nth-child(1).active, nav.primary-nav a:nth-child(1):hover {
    color: #f1f1f1;
    text-shadow: 0 0 4px #298acc;
}

nav.primary-nav a:nth-child(8).active, nav.primary-nav a:nth-child(8):hover {
    color: #f1f1f1;
    text-shadow: 0 0 4px #2ecc71;
}


nav.primary-nav .animation {
    border: 5px solid white;
    position: absolute;
    width: 0;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 1.75rem;
    width: calc((100% / 8));
    color: black;
    text-align: center;
}